{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}El portal del masaje{% endtrans %}{% endblock %}

{% block extrahead %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var map;
        var infowindow=new google.maps.InfoWindow();

        function map_init(){
            var latitude={{ map.lat }};
            var longitude={{ map.lng }};
            var position=new google.maps.LatLng(latitude,longitude);
            var opts={
                mapTypeId:google.maps.MapTypeId.ROADMAP,
                mapTypeControl:false,
                streetViewControl:false,
            }
            map=new google.maps.Map(document.getElementById('search-map'),opts);
            map.setCenter(position);
            map.setZoom({{ map.zoom }});
            var markers = Array();
            {% for page in page_list %}
            {% if page.position %} // XXX
            markers.push(new google.maps.Marker({
                position:new google.maps.LatLng({{ page.position.lat }},{{ page.position.lon }}),
                map:map,
                title:'{{ page.page_title }}',
                html:'<p>{{ page.page_title }}</p><p><a href="/{{ page.slug }}/">http://www.emasaje.com/{{ page.slug }}/</a></p>',
            }));
            google.maps.event.addListener(
                markers[markers.length-1],
                'click',
                function(){
                    infowindow.setContent(this.html);
                    infowindow.open(map,this);
                }
            );
            {% endif %} // XXX
            {% endfor %}
        }
        $(document).ready(function(){
            map_init();
        });
    </script>
{% endblock %}

{% block main %}
    <div id="search-map">
    </div>
    <table id="search-list">
        {% for page in page_list %}
            <tr class="{{ loop.cycle('even', 'odd') }}">
                <td class="title"><a href="/{{ page.slug }}/" target="_blank">{{ page.page_title }}</a></td>
                <td class="address">{{ page.full_address }}</td>
                <td class="link"><a href="/{{ page.slug }}/" target="_blank">Detalles del masaje &raquo;</a></td>
            </tr>
        {% endfor %}
    </table>
    {% if next_result %}
        <div id="search-next">
            <form method="get" action="/search/">
                <input type="hidden" name="massage_method" value="{{ massage_method }}"/>
                <input type="hidden" name="location" value="{{ location }}"/>
                <input type="hidden" name="lat-urban-sector" value="{{ lat_urban_sector }}"/>
                <input type="hidden" name="lng-urban-sector" value="{{ lng_urban_sector }}"/>
                <input type="hidden" name="lat-rural-sector" value="{{ lat_rural_sector }}"/>
                <input type="hidden" name="lng-rural-sector" value="{{ lng_rural_sector }}"/>
                <input type="hidden" name="next_result" value="{{ next_result }}"/>
                <input type="submit" id="search-next" class="input_submit" value="{% trans %}Más masajistas{% endtrans %} &raquo;"/>
            </form>
        </div>
    {% endif %}
{% endblock %}

