{% extends 'base.html' %}

{% block title %}{{ page.page_title }} &laquo; www.emasaje.com{% endblock %}

{% block extrahead %}
    {% if page.position %}
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/css/therapist_page.css"/>
    <style type="text/css">
        body{background-color:{{ theme }}};
    </style>
{% endblock %}

{% block content %}
    <div id="container">
        <div id="header">
            <h1>{{ page.page_title }}</h1>
            <a href="/" id="logo">www.emasaje.com</a>
        </div>
        <table id="content">
            <tr>
                <td class="col-main">
                    <img id="photo" alt="" src="/static/img/gallery/{{ image }}"/>
                    <p id="description">{{ page.page_content|replace("\n", "<br/>") }}</p>
                    <div class="horizontal-sep horizontal-sep-main">&nbsp;</div>
                    <div id="contact" class="icon">&nbsp;</div>
                    <div class="box">
                        <h3>{% trans %}Datos de contacto{% endtrans %}</h3>
                        <div id="address" class="icon icon-small">&nbsp;</div>
                        <div class="box2">
                            <h4>{% trans %}Dirección{% endtrans %}</h4>
                            <p>{% if page.show_address_in_page and page.address_1 %}{{ page.address_1 }} | {% endif %}{{ page.postal_code }} {{ page.city_name }}</p> 
                        </div>
                        {% if page.phone_number_1 %}
                            <div id="phone" class="icon icon-small">&nbsp;</div>
                            <div class="box2">
                                <h4>{% trans %}Teléfono{% endtrans %}</h4>
                                <p>{{ page.phone_number_1 }}{% if page.phone_number_2 %} | {{ page.phone_number_2 }}{% endif %}</p>
                            </div>
                            
                        {% endif %}
                        {% if page.website_address %}
                            <div id="website" class="icon icon-small">&nbsp;</div>
                            <div class="box2">
                                <h4>{% trans %}Web{% endtrans %}</h4>
                                <p><a href="{{ page.website_address }}" target="_blank">{{ page.website_address }}</a></p>
                            </div>
                        {% endif %}
                        <div id="contact-form" class="icon icon-small">&nbsp;</div>
                        <div class="box2">
                            <h4>{% trans %}Contactar{% endtrans %}</h4>
                            {% if form.valid %}<p class="error-msg">{% trans %}El mensaje se ha enviado correctamente{% endtrans %}</p>{% endif %}
                            {{ form.recaptcha_format_html }}
                            <form method="post" action=".">
                                {{ form.name }}
                                {{ form.email }}
                                {{ form.phone_number }}
                                {{ form.message }}
                                {{ form.recaptcha_html }}
                                <input type="submit" class="input_submit" value="{% trans %}Enviar{% endtrans %}"/>
                            </form>
                        </div>
                    </div>
                </td>
                <td class="col-space"></td>
                <td class="col-side">
                    {% if page.massage_method_names %}
                        <div id="massage-methods" class="icon">&nbsp;</div>
                        <div class="box">
                            <h3>{% trans %}Especialidades{% endtrans %}</h3>
                            {% for method in page.massage_method_names %}
                                <ul>
                                    <li>&raquo; {{ method }}</li>
                                </ul>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if page.schedule %}
                        <div class="horizontal-sep horizontal-sep-side">&nbsp;</div>
                        <div id="schedule" class="icon">&nbsp;</div>
                        <div class="box">
                            <h3>{% trans %}Horario{% endtrans %}</h3>
                            <p>{{ page.schedule|replace("\n", "<br/>") }}</p>
                        </div>
                    {% endif %}
                    {% if page.position %}
                        <div class="horizontal-sep horizontal-sep-side">&nbsp;</div>
                        <h3>{% trans %}Mapa{% endtrans %}</h3>
                        <div id="map"></div>
                        <script type="text/javascript">
                            var opts = {
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                mapTypeControl: false,
                                streetViewControl: false,
                            }
                            var map = new google.maps.Map(document.getElementById('map'), opts);
                            var position = new google.maps.LatLng({{ page.position.lat }}, {{ page.position.lon }});
                            var marker = new google.maps.Marker({});
                            map.setCenter(position);
                            map.setZoom(15);
                            marker.setMap(map);
                            marker.setPosition(position);
                        </script>
                        <a href="/">{% trans %}Más masajistas en www.emasaje.com{% endtrans %}</a>
                    {% endif %}
                </td>
            </tr>
        </table>
        <p id="footer">
            &copy; <a href="http://www.emasaje.com">www.emasaje.com</a> |
            <a href="/legal/privacy-policy/">{% trans %}Política de privacidad{% endtrans %}</a> |
            <a href="/legal/terms-and-conditions/">{% trans %}Condiciones de uso{% endtrans %}</a>
        </p>
    </div>
{% endblock %}

