{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Verificación de cuenta{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Verificación de cuenta{% endtrans %}</h3>
        <div class="box-content">
            <p>{% trans %}Clicando en el siguiente botón puedes verificar tu cuenta y entrar al panel de control, dónde podrás crear y personalizar tu página, y empezar a recibir visitas.{% endtrans %}</p>
            <form method="post" action=".">
                <input type="submit" class="input_submit bold" value="{% trans %}Verificar{% endtrans %}"/>
            </form>
        </div>
    </div>
{% endblock %}
