{% extends 'base_standard.html' %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Ayuda{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}¡Bienvenido a www.emasaje.com!{% endtrans %}</p>
                <p>{% trans %}Introduce tus datos de acceso para poder modificar tus contenidos, consultar las visitas de tu página...{% endtrans %}</p>
                <p>{% trans %}Si todavía no te has registrado, puedes <b>crear una cuenta</b> <a href="/accounts/register/">clicando aquí</a>.{% endtrans %}</p>
                <p>{% trans %}Si <b>has olvidado tu contraseña</b> <a href="/accounts/password-recovery/">clica aquí</a> para iniciar el proceso para escojer una nueva.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Entra a tu cuenta{% endtrans %}</h3>
            <div class="box-content">
                <!-- TODO: error message goes here? -->
                {% if error_msg %}<p class="error-msg">{{ error_msg }}</p>{% endif %}
                <form method="post" action=".">
                    {{ form.email }}
                    <p class="help-text">{% trans %}La dirección de correo electrónico que utilizaste pare registrarte en la página.{% endtrans %}</p>
                    {{ form.password }}
                    <p class="help-text">{% trans %}La contraseña que escojiste en el registro. Si <b>has olvidado tu contraseña</b> <a href="/accounts/password-recovery/">clica aquí</a> para iniciar el proceso para escojer una nueva.{% endtrans %}</p>
                    <input type="submit" class="input_submit bold" value="{% trans %}Entrar{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
