{% extends 'base_standard.html' %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Ayuda{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}Introduce una nueva contraseña para substituir la contraseña actual de tu cuenta.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Recuperación de contraseña{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    {{ form.password }}
                    <p class="help-text">{% trans %}Una buena contraseña debe ser larga, 8 carácteres o más, conteniendo letras, números, e incluso signos de puntuación. No recomendamos usar carácteres acentuados, la ñ, la ç... ya que no podrás entrar si viajas al extrangero y usas un teclado sin esos carácteres.{% endtrans %}</p>
                    {{ form.password_repeat }}
                    <p class="help-text">{% trans %}Repite tu contraseña para verificar que no te has equivocado, y no quedarte sin acceso a tu cuenta.{% endtrans %}</p>
                    <input type="submit" class="input_submit bold" value="{% trans %}Establecer{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
