{% extends 'base_standard.html' %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Ayuda{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}Si has perdido tu contraseña, introduce la dirección de correo electrónico con la que te registraste, y te mandaremos un mensaje con instrucciones para que puedas recuperar el acceso a tu cuenta.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Recuperación de contraseña{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    {{ form.email }}
                    <p class="help-text">{% trans %}La dirección de correo electrónico que utilizaste pare registrarte en la página.{% endtrans %}</p>
                    <input type="submit" class="input_submit bold" value="{% trans %}Enviar{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
