{% extends 'base_standard.html' %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Ayuda{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}¡Hola de nuevo!{% endtrans %}</p>
                <p>{% trans %}Vemos que tienes pendiente de introducir algunos datos importantes de tu cuenta. Estos datos son necesarios para poder acceder a tu cuenta, por lo que te pedimos que los cumplimentes en este momento.{% endtrans %}</p>
                <p>{% trans %}Una vez completado el siguiente formulario, te redirigiremos a tu cuenta, para que puedas acceder al resto de datos, a tus estadísticas....{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Datos pendientes{% endtrans %}</h3>
            <div class="box-content">
                {% if error_msg %}<p class="error-msg">{{ error_msg }}</p>{% endif %}
                <form method="post" action=".">
                    {{ form.name }}
                    <p class="help-text">{% trans %}El nombre por el que quieres que te llamemos, no necesitamos tu nombre completo, sinó tu nombre propio, o por el que te llamen tus amigos.{% endtrans %}</p>
                    {{ form.slug }}
                    <p class="help-text">{% trans %}Valor con solamente letras <b><i>minúsculas no acentuadas, números y guiones (sin espacios, puntos, la ñ o la ç...)</i></b>. Este valor será usado para crear la dirección de tu página. Así, si eliges <i>centro-masaje-logrono</i>, tu página será <i>http://www.emasaje.com/centro-masaje-logrono/</i>.{% endtrans %}</p>
                    {{ form.conditions }}
                    <input type="submit" class="input_submit bold" value="{% trans %}Actualizar{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
