{% extends 'base_standard.html' %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Ayuda{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}¡Bienvenido a emasaje!{% endtrans %}</p>
                <p>{% trans %}Para crear tu cuenta, primero es necesario que introduzcas unos datos básicos como tu nombre, correo electrónico, contraseña...{% endtrans %}</p>
                <p>{% trans %}Un momento después recibirás un correo electrónico con un enlace que deberás clicar para verificar que la dirección de correo electrónico que has introducido es correcta.{% endtrans %}</p>
                <p>{% trans %}Finalmente ya podrás acceder a tu panel de control donde podrás introducir los contenidos de tu nueva página y comenzar a recibir visitas de inmediato.{% endtrans %}</p>
                <p>{% trans %}Si ya te has registrado, puedes <b>acceder a tu cuenta</b> <a href="/accounts/login/">clicando aquí</a>.{% endtrans %}</p>
            </div>
        </div>
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Crea tu cuenta{% endtrans %}</h3>
            <div class="box-content">
                {% if error_msg %}<p class="error-msg">{{ error_msg }}</p>{% endif %}
                <form method="post" action=".">
                    {{ form.name }}
                    <p class="help-text">{% trans %}El nombre por el que quieres que te llamemos, no necesitamos tu nombre completo, sinó tu nombre propio, o por el que te llamen tus amigos.{% endtrans %}</p>
                    {{ form.email }}
                    <p class="help-text">{% trans %}Tu dirección de correo electrónico. La dirección de correo será tu nombre de usuario para entrar en la página. A esta dirección te mandaremos un mensaje cuando alguien te contacte desde tu página, o cuando tengamos novedades o promociones relacionadas con www.emasaje.com.{% endtrans %}</p>
                    {{ form.slug }}
                    <p class="help-text">{% trans %}Valor con solamente letras <b><i>minúsculas no acentuadas, números y guiones (sin espacios, puntos, la ñ o la ç...)</i></b>. Este valor será usado para crear la dirección de tu página. Así, si eliges <i>centro-masaje-logrono</i>, tu página será <i>http://www.emasaje.com/centro-masaje-logrono/</i>.{% endtrans %}</p>
                    {{ form.password }}
                    <p class="help-text">{% trans %}Una buena contraseña debe ser larga, 8 caracteres o más, conteniendo letras, números, e incluso signos de puntuación. No recomendamos usar caracteres acentuados, la ñ, la ç... ya que no podrás entrar si viajas al extranjero y usas un teclado sin esos caracteres.{% endtrans %}</p>
                    {{ form.password_repeat }}
                    <p class="help-text">{% trans %}Repite tu contraseña para verificar que no te has equivocado y no quedarte sin acceso a tu cuenta.{% endtrans %}</p>
                    {{ form.conditions }}
                    <input type="submit" class="input_submit bold" value="{% trans %}Crear{% endtrans %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

