{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Política de privacidad{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Política de privacidad{% endtrans %}</h3>
        <div class="box-content">
            <h4>{%trans %}Introducción{% endtrans %}</h4>
            <p>{%trans %}El objetivo de {{ site }} es poner en contacto a los profesionales del sector del masaje con sus usuario potenciales. Para ello, los profesionales del masaje, pueden crear una cuenta de usuario, y una página web asociada a su cuenta, dentro del sitio {{ site }}.{% endtrans %}</p>
            <p>{%trans %}La creación de la cuenta, así como de la página web asociada, requieren por parte de {{ site }} la recopilación, y almacenamiento de información personal y profesional de los usuarios del sitio web.{% endtrans %}</p>
            <p>{%trans %}Por otro lado, los visitantes de la página, aún cuando no crean una cuenta, mantienen flujos de información con el sitio web {{ site }} y que son considerados en este documento.{% endtrans %}</p>

            <h4>{%trans %}Ámbito{% endtrans %}</h4>
            <p>{%trans %}El ámbito de esta política de privacidad, se restringe a todos los contenidos publicados y recopilados, así como todas las comunicaciones del sitio web {{ site }} y sus subdominios, así como de las páginas del servidor seguro emasaje-com.appspot.com y sus subdominios.{% endtrans %}</p>
            <p>{%trans %}Quedan excluidos del ámbito de este documento, los contenidos de sitios enlazados desde {{ site }}. Estos contenidos, aunque pudiendo ser enlazados desde {{ site }} no son responsabilidad de este sitio web.{% endtrans %}</p>

            <h4>{%trans %}Datos personales almacenados{% endtrans %}</h4>
            <p>{%trans %}El sitio web {{ site }} se reserva el derecho a almacenar toda la información recibida por el sitio web. Esta información es la enviada desde los equipos de los usuarios de la página, ya sean visitantes de la web, como robots o otros programas que acceden a los contenidos de manera automática.{% endtrans %}</p>
            <p>{%trans %}La información recibida en el servidor puede ser introducida explícitamente por el usuario, mediante los formularios de introducción de datos del sitio web, o información enviada por el navegador de Internet o el sistema operativo del usuario de la página, sin conocimiento de éste. Es responsabilidad del usuario de la página, conocer la información que su equipo está enviando, ya que {{ site }} se reserva el derecho a almacenar toda esta información.{% endtrans %}</p>
            
            <h4 id="cookies">{%trans %}Cookies, cache y archivos descargados{% endtrans %}</h4>
            <p>{%trans %}Algunas de las funcionalidades de {{ site }} requieren el envío de cookies del servidor al equipo del visitante de la página. Estas cookies son pequeñas cantidades de información que el navegador del usuario de la página puede almacenar en su equipo.{% endtrans %}</p>
            <p>{%trans %}Estas cookies pueden ser utilizadas para almacenar preferencias del usuario, así como identificar el usuario dentro de una sesión, o entre sesiones. El usuario puede configurar su navegador para no aceptar cookies si no está de acuerdo con su utilización, o simplemente abandonar la página.{% endtrans %}</p>
            <p>{%trans %}Los navegadores de Internet también pueden almacenar en el equipo del usuario los archivos recibidos del servidor, y que considere que puede necesitar nuevamente durante la visita a la misma página. Estos archivos conforman la cache de la página.{% endtrans %}</p>
            <p>{%trans %}Es posible que el usuario, ya sea siguiendo un enlace de la página, o mediante opciones del navegador de Internet, descargue archivos de {{ site }} y estos sean almacenados en su equipo.{% endtrans %}</p>
            <p>{%trans %}El almacenamiento de información de la página en el equipo del usuario es responsabilidad del usuario, quien puede deshabilitar los mecanismos antes citados en su navegador, o abandonar la página, en caso de no querer almacenar en su equipo información que provenga de {{ site }}.{% endtrans %}</p>

            <h4>{%trans %}Seguridad{% endtrans %}</h4>
            <p>{%trans %}Toda la información personal o profesional de los usuarios de {{ site }} es protegida mediante las tecnologías y métodos más avanzados a nuestro alcance. Esto incluye la protección de las cuentas mediante contraseñas, la encriptación de las comunicaciones con datos sensibles, y otros métodos.{% endtrans %}</p>
            <p>{%trans %}No obstante, Internet no es un medio 100% seguro, y no podemos garantizar que su información no será accedida por terceras personas, durante su transmisión o almacenamiento en nuestro sistema. {{ site }} no se responsabiliza de perdidas de información, así como del acceso de terceras personas a la misma, siempre que haya actuado de buena fe, y se deba a factores externos.{% endtrans %}</p>
            <p>{%trans %}Es responsabilidad del usuario la protección de sus datos de acceso, no permitiendo el acceso a terceras personas a sus contraseñas o otros datos de acceso utilizados para acceder a las zonas protegidas de {{ site }}.{% endtrans %}</p>
            <p>{%trans %}A pesar de tratarse de un caso totalmente improbable, {{ site }} no se responsabiliza de posibles daños en el equipo del usuario, derivados de la utilización del sitio. Es responsabilidad de los usuario tomar las medidas oportunas para proteger su equipo frente a virus, ataques informáticos, o cualquier otro elemento que pueda dañar su equipo, o comprometer datos personales.{% endtrans %}</p>

            <h4>{%trans %}Usos de los datos personales{% endtrans %}</h4>
            <p>{%trans %}El objetivo principal de la información recopilada del usuario es poder crear una página web personal. Esta página será publica, por lo que {{ site }} no puede responsabilizarse del uso que terceras partes hagan de esta información.{% endtrans %}</p>
            <p>{%trans %}No obstante, {{ site }} se compromete a no ceder a terceras partes mediante ningún otro medio esta información, ni mediante ningún medio la información no publicada en la página web.{% endtrans %}</p>
            <p>{%trans %}Esto no incluye el caso en que {{ site }} sea fusionada, absorbida, o su explotación sea continuada por otra empresa. En ese caso, {{ site }} cederá la información, previa notificación a sus usuarios, que podrán acceder a su derecho a cancelación de sus cuentas de no estar de acuerdo con la cesión de sus datos.{% endtrans %}</p>
            <p>{%trans %}También se cederá la información a las autoridades competentes, en caso de que esta sea requerida mediante procedimiento legal, o sea necesaria para la defensa legal de {{ site }}.{% endtrans %}</p>
            <p>{%trans %}El uso principal de la información de los usuarios será la creación de la página web personal. No obstante, {{ site }} podrá utilizar esta información para otros medios como el envío de publicidad, la generación de estudios de mercado, o cualquier otro, siempre que no cause un perjuicio para los usuarios.{% endtrans %}</p>
            <p>{%trans %}Finalmente, {{ site }} se reserva el derecho a la publicación de información estadística basada en los datos personales de los usuarios.{% endtrans %}</p>

            <h4>{%trans %}Comunicación con el usuario{% endtrans %}</h4>
            <p>{%trans %}La información de contacto proporcionada por el usuario podrá ser utilizada por {{ site }} para ponerse en contacto con él para comunicarle cualquier información relativa a la página, como novedades, promociones, o para solicitarle información relativa a su experiencia de usuario entre otros.{% endtrans %}</p>
            <p>{%trans %}El principal medio de comunicación será el correo electrónico, y no se preve una frecuencia de envío de mensajes ordinarios mayor a un mensaje mensual. No obstante el personal de {{ site }} se podrá comunicar por otros medios, y con mayor frecuencia si lo considera conveniente.{% endtrans %}</p>

            <h4>{%trans %}Derechos de acceso, rectificación y cancelación relativos a su Información{% endtrans %}</h4>
            <p>{%trans %}El usuario podrá ejercer el derecho de acceso, rectificación y cancelación de su información en cualquier momento. Para ello, dispone de las opciones necesarias en la parte privada de la página y previa autentificación con su usuario y contraseña. En caso de no existir la opción necesaria, el usuario podrá ejercer sus derechos contactando directamente a los responsables de la página, mediante los métodos de contacto establecidos en este documento.{% endtrans %}</p>

            <h4>{%trans %}Métodos de contacto{% endtrans %}</h4>
            <p>{%trans %}Para ejercer sus derechos, solicitar información, o para establecer contacto con los responsables de {{ site }} por cualquier otro motivo, podrá realizarlo mediante mensaje electrónico  a la dirección de correo electrónico {{ email }}.{% endtrans %}</p>
            <p>{%trans %}En caso de precisar de otro medio de comunicación, solicite los datos de contacto mediante esa dirección de correo electrónico.{% endtrans %}</p>

            <h4>{%trans %}Disconformidad con la política de privacidad{% endtrans %}</h4>
            <p>{%trans %}En caso de no aceptar las condiciones de esta política de privacidad, el usuario deberá abandonar la página {{ site }}.{% endtrans %}</p>

            <h4>{%trans %}Sobre este documento{% endtrans %}</h4>
            <p>{%trans %}El presente documento se distribuye bajo una licencia abierta que permite su redistribución, con o sin modificaciones, y para fines comerciales o no comerciales, siempre que se mantengan estas condiciones en su redistribución. Puede solicitar este documento en otros formatos mediante los medios definidos en el apartado métodos de contacto.{% endtrans %}</p>
            <p>{%trans %}La última versión de este documento es del 7 de diciembre de 2010. Los usuarios registrados en la página deben consultar esta política de privacidad de forma periódica, ya que la continuación en el uso de los servicios proporcionados por {{ site }} supone la aceptación de de posibles nuevas versiones de este documento. No obstante, si existen cambios significativos en nuevas versiones de esta política de privacidad, estas serán informadas explícitamente a los usuarios de la página.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}

