{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Condiciones de uso{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Condiciones de uso{% endtrans %}</h3>
        <div class="box-content">
            <h4>{% trans %}Introducción{% endtrans %}</h4>
            <p>{% trans %}El objetivo de {{ site }} es poner en contacto a los profesionales del sector del masaje con sus usuario potenciales. Para ello, los profesionales del masaje, pueden crear una cuenta de usuario, y una página web asociada a su cuenta, dentro del sitio {{ site }}.{% endtrans %}</p>
            <p>{% trans %}La creación de las cuentas de usuario, así como la consulta de la información de la página están sujetas al cumplimiento de estas condiciones de uso.{% endtrans %}</p>

            <h4>{% trans %}Ámbito{% endtrans %}</h4>
            <p>{% trans %}El ámbito de estas condiciones de uso abarca toda utilización de la página {{ site }} y sus subdominios, así como de las páginas del servidor seguro emasaje-com.appspot.com y sus subdominios.{% endtrans %}</p>

            <h4>{% trans %}Disposiciones generales{% endtrans %}</h4>
            <p>{% trans %}Las cláusulas de este contrato actuarán de modo independiente en caso que alguna de ellas sea considerada inválida  por una autoridad competente, de modo que el resto de cláusulas puedan seguir siendo ejecutables.{% endtrans %}</p>
            <p>{% trans %}Para realizar consultas sobre este contrato, así como para realizar notificaciones, o para ejercer los derechos de acceso, modificación o cancelación de sus datos puede hacerlo mediante correo electrónico a {{ email }}. En caso de precisar de otro medio de contacto puede solicitarlo a esta dirección de correo electrónico.{% endtrans %}</p>
            <p>{% trans %}La aceptación de estas condiciones de uso supone la aceptación de la <a href="/legal/privacy-policy">Política de privacidad</a> de la página.{% endtrans %}</p>

            <h4>{% trans %}Obligaciones del usuario{% endtrans %}</h4>
            <p>{% trans %}Los usuarios de {{ site }} deben cumplir los siguientes requisitos:{% endtrans %}</p>
            <ul>
                <li>{% trans %}Ser mayor de 18 años, y haber cumplido la mayoría de edad en su país de residencia.{% endtrans %}</li>
                <li>{% trans %}No utilizar {{ site }} con fines contrarios a la ley, a los intereses de {{ site }} (como la degradación de la imagen de la página, o la obtención de información para competidores, entre otros), o para ningún fin distinto a los definidos a continuación.{% endtrans %}</li>
            </ul>
            <p>{% trans %}A continuación se definen los fines para los que se ofrece el servicio {{ site }}:{% endtrans %}</p>
            <ul>
                <li>{% trans %}Consulta de la información pública de los masajistas mediante los medios establecidos en la página.{% endtrans %}</li>
                <li>{% trans %}Contacto a los masajistas con la única finalidad de ampliar la información ofrecida en la página, así como de solicitar los servicios ofrecidos.{% endtrans %}</li>
                <li>{% trans %}Creación de un perfil de masajista, modificación de los datos del perfil, y consulta de información complementaria proporcionada por {{ site }} como las estadísticas de visitas a la página, o las promociones ofrecidas.{% endtrans %}</li>
            </ul>
            <p>{% trans %}Se prohibe la utilización de la página para la creación de cuentas de profesionales de otros sectores a los de las terapias manuales, excluyendo expresamente los profesionales del sexo, o que realizan técnicas de masaje genital, o cualquier técnica cuya finalidad sea provocar una excitación sexual.{% endtrans %}</p>

            <h4>{% trans %}Derechos de {{ site }}{% endtrans %}</h4>
            <p>{% trans %}Previo cumplimiento de los requisitos, {{ site }} ofrece un derecho limitado, revocable, no exclusivo y no sujeto a cesión o sublicencia, de utilización de la página y sus contenidos para los fines establecidos en el apartado de obligaciones del usuario.{% endtrans %}</p>

            <h4>{% trans %}Exclusión de responsabilidades{% endtrans %}</h4>
            <p>{% trans %}{{ site }} no garantiza que la información ofrecida en este sitio web sea correcta, veraz, esté completa, o libre de imprecisiones o errores tipográficos.{% endtrans %}</p>
            <p>{% trans %}{{ site }} no asume ninguna responsabilidad (y rechaza espresamente cualquier responsabilidad) sobre la actualización de este sitio para mantener la información actualizada, para eliminar la información no veraz, o para completar la información imprecisa o incompleta.{% endtrans %}</p>
            <p>{% trans %}Consequentemente, es responsabilidad del usuario comprobar y verificar cualquier información obtenida mediante este sitio web.{% endtrans %}</p>

            <h4>{% trans %}Limitación de garantías{% endtrans %}</h4>
            <p>{% trans %}El sitio web {{ site }}, y toda la información y materiales proporcionados en esta página se distribuyen como son y sin ningún tipo de garantía. El usuario utilizará la página bajo su cuenta y riesgo, y {{ site }} rechaza ofrecer ninguna garantía ni implicita ni explicita, hasta el límite permitido por la ley.{% endtrans %}</p>
            <p>{% trans %}{{ site }} no garantiza que esta página funcione de manera ininterrumpida, segura y libre de errores.{% endtrans %}</p>

            <h4>{% trans %}Disconformidad con las condiciones de uso{% endtrans %}</h4>
            <p>{% trans %}En caso de no aceptar estas condiciones de uso, el usuario deberá abandonar la página {{ site }}.{% endtrans %}</p>

            <h4>{% trans %}Sobre este documento{% endtrans %}</h4>
            <p>{% trans %}El presente documento se distribuye bajo una licencia abierta que permite su redistribución, con o sin modificaciones, y para fines comerciales o no comerciales, siempre que se mantengan estas condiciones en su redistribución. Puede solicitar este documento en otros formatos mediante los medios definidos en el apartado métodos de contacto de la política de privacidad.{% endtrans %}</p>
            <p>{% trans %}La última versión de este documento es del 16 de diciembre de 2010. Los usuarios registrados en la página deben consultar estas condiciones de uso de forma periódica, ya que la continuación en el uso de los servicios proporcionados por {{ site }} supone la aceptación de de posibles nuevas versiones de este documento. No obstante, si existen cambios significativos en nuevas versiones de estas condiciones de uso, estas serán informadas explícitamente a los usuarios de la página.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}

