* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial,sans-serif;
    color: black;
}
h2 {
    background: #e5ecf9;
    padding: .2em .4em;
    margin-bottom: .5em;
    font-size: 1.3em;
}
label {
    display: block;
    margin: 0 0 .2em 0;
    font-weight: bold;
}
input, select, textarea, option {
    font-family: inherit;
    font-size: inherit;
}
.unit {
    float: left;
    width: 49.999%;
}
.button {
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font: normal normal normal 13px/13px Arial,sans-serif;
    text-align: middle;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
    background: #EEE;
    background: -moz-linear-gradient(top,white,#DDD);
    cursor: pointer;
    margin: 0;
    display: -moz-inline-box;
    display: inline-block;
    padding: 4px 8px 5px;
    border-top-left-radius: 2px 2px;
    border-top-right-radius: 2px 2px;
    border-bottom-right-radius: 2px 2px;
    border-bottom-left-radius: 2px 2px;
}
.button:hover {
    border-color: #000;
}
.button:active {
    color: black;
    background-color: #BBB;
    border-color: #999 #BBB #BBB #999;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#DDD),to(white));
    background-image: -moz-linear-gradient(top,#DDD,white);
    filter: progid:DXImageTransform.Microsoft
}
