/********************
    base styles
********************/

* {
    margin: 0;
    padding: 0;
    font-family: Arial, "Andale Mono", sans-serif;
}
th, td {
    text-align: left;
    vertical-align: top;
}
ul, ol {
    list-style-position: inside;
    margin-bottom: 15px;
}
p, li, legend, label, th, td{
    color: #424242;
    font-size: 13px;
    line-height: 15px;
}
p {
    margin-bottom: 15px;
}
a {
    text-decoration: none;
}
p a, label a {
    color: #424242;
    border-bottom: 1px dotted #424242;
}
p a:hover, label a:hover {
    color: #212121;
    border-bottom: 1px dotted #212121;
}
li a {
    color: #424242;
}
li a:hover {
    color: #212121;
}
a img {
    border: none;
}
h4 {
    color: #424242;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
#cookies-warning {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: black;
    opacity: 0.8;
}
#cookies-warning p {
    width: 960px;
    margin: 0 auto;
    color: white;
    opacity: 1;
}
#cookies-warning a {
    color: white;
    font-weight: bold;
    border-bottom: none;
}
/* home */
#home-image {
    margin-bottom: 20px;
}
#home-join-us {
    float: right;
    width: 340px;
}
#home-join-us h3 {
    margin-top: 0;
}
#home-join-us img {
    margin: 0 0 20px 30px;
}
#home-search {
    width: 600px;
}
#home-search td {
    width: 260px;
    padding: 0 20px;
}
#home-search .input_radio {
    display: inline;
    margin: 0 5px 16px 0;
}
#home-search select, #home-search .input_text {
    margin: 0 0 16px 20px;
    width: 200px;
}
#home-links p {
    float: left;
    margin-right: 30px;
}

/* search */
#search-map {
    width: 100%;
    height: 400px;
    border: 1px solid #aaa;
}
#search-list {
    margin-top: 8px;
    width: 100%;
    border-collapse: collapse;
}
#search-list tr.odd td {
    background-color: #eee;
}
#search-list td {
    padding: 5px 12px;
}
#search-list td.title a {
    color: #424242;
}
#search-list td.address {
    color: #aaa;
}
#search-list td.link {
    text-align: right;
}
#search-list td.link a {
    color: #006400;
}
#search-next {
    text-align: center;
}

/* layout */

#container {
    width: 960px;
    margin: 0 auto;
}
#header {
    background-color: #006400;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}
#header-content {
    position: relative;
    width: 960px;
    margin: 0 auto;
}
#logo {
    margin-top: 10px;
}
#login {
    position: absolute;
    top: 10px;
    right: 0;
    color: white;
}
#login a {
    color: white;
    border: none;
    font-weight: bold;
}
#login .input_submit {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
#login .input_submit:hover {
    color: #ff9;
}
#left-col {
    float: left;
    width: 620px;
}
#right-col {
    float: right;
    width: 320px;
}
#footer {
    margin: 40px 0;
    width: 100%;
    text-align: center;
    color: #aaa;
}
#footer p {
    margin-bottom: 10px;
    color: #aaa;
}
#footer a {
    color: #aaa;
    border-bottom: none;
}
#footer b {
    color: #999;
}

/********************
    pages
********************/

/* therapists list */
.therapist-list {
    margin-bottom: 10px;
}
.therapist-list .title {
    margin-bottom: 3px;
}
.therapist-list .title a {
    font-weight: bold;
    border-bottom: none;
}
.therapist-list .subtitle {
    margin-bottom: 3px;
    margin-left: 10px;
    color: #aaaaaa;
}

/* stats */
#visits {
    border-collapse: collapse;
}
#visits th {
    border-bottom: 1px solid #424242;
}
#visits td, #visits th {
    padding: 3px 10px;
}
#visits {
    margin-bottom: 10px;
}
#visits .dimension {
    width: 320px;
}
#visits .metric {
    width: 40px;
}
#visits td.metric {
    text-align: right;
}
#visits tr.even td {
    background-color: #f0f0f0;
}

/* gallery */
.gallery-item {
    float: left;
    width: 180px;
    margin: 10px 10px 10px 0;
    text-align: center;
}

/********************
    class styles
********************/

.bold {
    font-weight: bold;
}
.clear {
    clear: both;
    white-space: nowrap;
}
.error-msg {
    color: red;
}
.navigation {
    list-style-type: none;
    margin-bottom: 10px;
}
.center {
    width: 100%;
    text-align: center;
}

/* forms */
label {
    display: block;
    margin: 15px 0 3px 0;
}
input, textarea, select {
    display: block;
}
.input_text, .input_password, textarea {
    border: 1px solid #cccccc;
    color: #212121;
    font-size: 13px;
    width: 300px;
    padding: 4px 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
textarea {
    height: 180px;
}
textarea.support {
    width: 242px;
    height: 50px;
}
p.support-response {
    display: hidden;
    margin: 5px 0 0 0;
    color: #424242;
    font-weight: bold;
}
select {
    border: 1px solid #ccc;
    color: #212121;
    font-size: 13px;
    width: 256px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.input_file {
}
.input_checkbox {
    margin-left: 15px;
}
.input_submit {
    display: inline;
    margin-top: 15px;
    padding: 3px 12px;
    color: black;
    font-size: 12px;
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
    background: -moz-linear-gradient (top, #f9f9f9, #e3e3e3);
}
.input_submit:hover {
    border-color: #aaa;
}
.help-text {
    color: #aaa;
    margin-bottom: 0;
}
.help-text b {
    color: #999;
}
.help-text a {
    color: #aaa;
    border-bottom: 1px dotted #aaa;
}
.multi-checkbox {
    float: left;
    width: 170px;
    margin-right: 10px;
}

/* boxes */
div.box {
    margin-bottom: 20px;
}
div.box h3 {
    padding: 3px 10px;
    color: #007000;
    font-size: 14px;
}
div.box div.box-content {
    padding: 20px;
    border: 1px solid #ddd;
}
div.box a {
    margin-bottom: 1px dotted 
}
div.box div.option {
    float: left;
    margin: 0 20px 0 0;
    width: 100px;
}
div.box div.option img {
    margin-left: 26px;
}
div.box div.option a {
    display: block;
    text-align: center;
    color: #424242;
    font-size: 13px;
}

/* dashboard icons */
a.icon {
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin-left: 26px;
    margin-bottom: 8px;
    background: transparent url(/static/img/dashboard_icons.png) no-repeat 0 0;
}
#address {
    background-position: 0 0;
}
#contact-info {
    background-position: 0 -48px;
}
#massage-methods {
    background-position: 0 -96px;
}
#schedule {
    background-position: 0 -144px;
}
#page-content {
    background-position: 0 -192px;
}
#theme-gallery {
    background-position: 0 -240px;
}
#image-gallery {
    background-position: 0 -288px;
}
#stats-date {
    background-position: 0 -336px;
}
#stats-source {
    background-position: 0 -384px;
}
#stats-region {
    background-position: 0 -432px;
}

div.theme-color {
    margin-left: 20px;
    width: 140px;
    height: 140px;
}

/* info */
#info-sample {
    float: right;
}
#info-sample a {
    border: none;
}
.info-image {
    width: 318px;
    height: 212px;
    margin: 1px;
    background: transparent url(/static/img/info.jpg) no-repeat;
}
#info-image-free {
    background-position: -318px -212px;
}
#info-image-easy {
    background-position: -318px 0;
}
#info-image-success {
    background-position: 0 -212px;
}
#info-main-description {
    padding-left: 20px;
}
#info-main-description h3 {
    margin-bottom: 20px;
    color: #007000;
    font-size: 16px;
}
#info-main-description p,  #info-main-description li {
    font-size: 14px;
}
#info-main-description li {
    margin-bottom: 16px;
}
#info-join-link {
    display: block;
    margin-top: 50px;
    margin-left: 320px;
    color: #007000;
    font-size: 28px;
    font-weight: bold;
    border: none;
}
#info-boxes {
    margin-top: 60px;
}
.info-image-legend {
    margin-top: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

