* {
    font-family: Georgia, "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5fafd;
}
h1 {
    position: absolute;
    bottom: 0;
    font-size: 28px;
    font-weight: normal;
    color: #f2f3f7;
    font-weight: bold;
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
}
td {
    vertical-align: top;
}
#container {
    width: 960px;
    margin: 0 auto;
}
#header {
    position: relative;
    height: 55px;
}
#logo {
    position: absolute;
    bottom: 0;
    right: 3px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    color: #f2f3f7;
    font-weight: bold;
}
#content {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
    background-color: #e8e9ed;
    border-top: 3px solid #f5f6fa;
    border-left: 3px solid #f5f6fa;
    border-right: 3px solid #cbccce;
    border-bottom: 3px solid #cbccce;
    border-collapse: collapse;
}
#content h3 {
    color: #2b2b2b;
    font-size: 16px;
    margin-bottom: 18px;
}
#content h4 {
    color: #2b2b2b;
    font-size: 14px;
}
#content td {
    padding: 10px;
}
#content a {
    color: #2b7ece;
    border-color: #2b7ece;
}
#content p, #content li {
    font-size: 15px;
    color: #5b6773;
    font-style: italic;
    list-style-type: none;
    line-height: 24px;
}
#content li {
    margin-left: -10px;
}
#content label {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: #5b6773;
    font-style: italic;
}
#content .input_text, #content textarea {
    display: block;
    border: 1px solid #cbccce;
    background-color: #f5f6fa;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    font-size: 14px;
    color: #2b2b2b;
    font-style: italic;
}
#content .input_text {
    width: 320px;
    height: 28px;
    padding: 0 10px;
}
#content textarea {
    width: 350px;
    height: 120px;
    padding: 10px 10px;
}
#content .input_submit {
    display: inline;
    margin-top: 12px;
    padding: 5px 18px;
    color: black;
    font-size: 13px;
    cursor: default;
    border: 1px solid #ccc;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #eee;
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
    background: -moz-linear-gradient (top, #f9f9f9, #e3e3e3);
}
#content .input_submit:hover {
    border-color: #aaa;
}
#content .error-msg {
    color: red;
    font-size: 13px;
}
#content .col-main {
    padding: 25px 20px 30px 30px;
    width: 580px;
    border-right: 1px solid #cbccce;
}
#content .col-space {
    width: 0px;
    padding: 0;
}
#content .col-side {
    padding: 30px 20px;
    width: 279px;
    border-left: 1px solid #f5f6fa;
}
.box {
    padding-left: 60px;
}
.box2 {
    padding-left: 40px;
    margin-bottom: 30px;
}
.horizontal-sep {
    margin: 40px 0;
    height: 1px;
    border-bottom: 1px solid #f5f6fa;
    background-color: #cbccce;
    clear: both;
}
.horizontal-sep-main {
    width: 580px;
}
.horizontal-sep-side {
    width: 279px;
}
#photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}
.icon {
    position: absolute;
    background: transparent url(/static/img/therapist_page_icons.png) no-repeat;
    width: 48px;
    height: 48px;
}
.icon-small {
    width: 32px;
    height: 32px;
}
#massage-methods {
    background-position: 0 0;
}
#schedule {
    background-position: -48px 0;
}
#contact {
    background-position: -96px 0;
}

#address {
    background-position: 0 -48px;
}
#contact-form {
    background-position: -32px -48px;
}
#phone {
    background-position: -64px -48px;
}
#website {
    background-position: -96px -48px;
}
#footer {
    width: 960px;
    margin: 10px 0;
    text-align: center;
    font-size: 12px;
    color: #f2f3f7;
}
#footer a {
    color: #f2f3f7;
    text-decoration: none;
}
#map {
    border: 1px solid #cbccce;
    width: 279px;
    height: 200px;
}
/* cookies warning style */
#cookies-warning {
    display: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background-color: black;
    opacity: 0.8;
}
#cookies-warning p {
    width: 960px;
    margin: 0 auto;
    color: white;
    opacity: 1;
    font-family: Arial, "Andale Mono", sans-serif;
    font-size: 13px;
}
#cookies-warning a {
    color: white;
    font-weight: bold;
    border-bottom: none;
    font-family: Arial, "Andale Mono", sans-serif;
    font-size: 13px;
}
