{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}El portal del masaje{% endtrans %}{% endblock %}

{% block extrahead %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var equator_length = 40008.629;
        var meridian_length = 20003.93;

        function get_massage_method(){
            var massage_type;
            var massage_category = $('input:radio[name=massage_category]:checked').val();
            if(massage_category=="massage-type"){
                massage_type = $('#input-massage-select option:selected').val();
            } else {
                massage_type = massage_category;
            }
            return massage_type;
        }
        function lat_to_kms(lat){
            return Math.floor((lat+90)/180*meridian_length);
        }
        function lng_to_kms(lng){
            return Math.floor((lng+180)/360*equator_length);
        }
        function get_sector(val, sector_size, sector_diff){
            return Math.floor((val-(sector_size/2))/sector_diff)*sector_diff;
        }
        function get_lat_rural_sector(lat){
            return get_sector(lat_to_kms(lat),{{ settings.MAP_RURAL_SECTOR_LAT_SIZE }},{{ settings.MAP_RURAL_SECTOR_LAT_DIFF }});
        }
        function get_lng_rural_sector(lng){
            return get_sector(lng_to_kms(lng),{{ settings.MAP_RURAL_SECTOR_LNG_SIZE }},{{ settings.MAP_RURAL_SECTOR_LNG_DIFF }});
        }
        function get_lat_urban_sector(lat){
            return get_sector(lat_to_kms(lat),{{ settings.MAP_URBAN_SECTOR_LAT_SIZE }},{{ settings.MAP_URBAN_SECTOR_LAT_DIFF }});
        }
        function get_lng_urban_sector(lng){
            return get_sector(lng_to_kms(lng),{{ settings.MAP_URBAN_SECTOR_LNG_SIZE }},{{ settings.MAP_URBAN_SECTOR_LNG_DIFF }});
        }
        $(document).ready(function(){
            $('#search-submit').click(function(){
                $('#home-error-msg').hide();
                var geocoder=new google.maps.Geocoder();
                if($('input:radio[name=location]:checked').val()=="nearby" && $('#input-location-text').val()==""){
                    alert('{% trans %}Debes introducir una dirección{% endtrans %}');
                }else{
                    var address;
                    if($('input:radio[name=location]:checked').val()=="nearby"){
                        address=$('#input-location-text').val();
                    }else{
                        address=$('#input-location-select option:selected').val();
                    }
                    geocoder.geocode({address:address},function(results,status){
                        if(status==google.maps.GeocoderStatus.OK){
                            var loc=results[0].geometry.location;
                            window.location='/search/?massage_method='+get_massage_method()+'&location='+loc.lat()+','+loc.lng()+
                                '&lat-urban-sector='+get_lat_urban_sector(loc.lat())+'&lng-urban-sector='+get_lng_urban_sector(loc.lng())+
                                '&lat-rural-sector='+get_lat_rural_sector(loc.lat())+'&lng-rural-sector='+get_lng_rural_sector(loc.lng());
                        }else{
                            alert('{% trans %}No se ha podido encontrar la dirección, asegúrate que es correcta o prueba a escribirla de otra manera{% endtrans %}');
                        }
                    });
                }
            });
            $("#input-massage-select").focus(function() {
                $("#input-massage-massage").attr("checked", "checked");
            });
            $("#input-location-select").focus(function() {
                $("#input-location-city").attr("checked", "checked");
            });
            $("#input-location-text").focus(function() {
                $("#input-location-nearby").attr("checked", "checked");
            });
        });
    </script>
{% endblock %}

{% block main %}
    <img id="home-image" alt="{% trans %}Masaje{% endtrans %}" src="/static/img/home.png"/>

    <div id="home-join-us" class="box">
        <h3>{% trans %}¿Eres masajista?{% endtrans %}</h3>
        <div class="box-content">
            <img alt="" src="/static/img/join_us.png"/>
            <p>{% trans %}Crea tu cuenta y tendrás tu propia página, aparecerás en el buscador, y recibirás nuestros descuentos y promociones.{% endtrans %}</p>
            <form action="/accounts/register/" method="get">
                <p class="center"><input type="submit" class="input_submit" value="{% trans %}Crea tu cuenta gratis{% endtrans %}"/></p>
            </form>
            <p class="center">[ <a href="/accounts/info/">Más información</a> ]</p>
        </div>
    </div>

    <div id="home-search" class="box">
        <h3>{% trans %}Encuentra el masaje que necesitas{% endtrans %}</h3>
        <div class="box-content">
            <form method="get" action="/search/">
                <table>
                    <tr>
                        <td>
                            <input type="radio" name="massage_category" value="massage-type" checked="checked" class="input_radio" id="input-massage-massage"/>Masaje<br/>
                            <select name="massage-type" id="input-massage-select">
                                <option value="">{% trans %}Cualquier tipo de masaje{% endtrans %}</option>
                                {% for method in methods %}
                                    {% if method.old_id not in [20, 21] %}
                                        <option value="{{ method.old_id }}">{{ method.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <input type="radio" name="massage_category" value="20" class="input_radio"/>Fisioterapia<br/>
                            <input type="radio" name="massage_category" value="21" class="input_radio"/>Osteopatía<br/>
                        </td>
                        <td>
                            <!--
                            <input type="radio" name="location" value="autodetect" checked="checked" class="input_radio"/>Detectar mi posición<br/>
                            -->
                            <input type="radio" name="location" value="city" checked="checked" class="input_radio" id="input-location-city"/>Principales ciudades<br/>
                            <select name="city" id="input-location-select">
                                {% for city in settings.MAIN_CITIES %}
                                    <option>{{ city[0] }}</option>
                                {% endfor %}
                            </select>
                            <input type="radio" name="location" value="nearby" class="input_radio" id="input-location-nearby"/>Cerca de esta dirección<br/>
                            <input type="text" class="input_text" id="input-location-text"/>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
                <p class="center"><input id="search-submit" class="input_submit" type="button" value="{% trans %}Busca tu masaje{% endtrans %}"/></p>
            </form>
        </div>
    </div>
    <div class="clear"></div>

    <div id="home-links" class="box">
        <h3>{% trans %}Masajes más buscados{% endtrans %}</h3>
        <div class="box-content">
            <p><a href="/masajistas/por-region/espana/catalunya/provincia-de-barcelona/barcelona/">Masaje en Barcelona</a></p>
            <p><a href="/masajistas/por-region/espana/comunidad-de-madrid/provincia-de-madrid/madrid/">Masaje en Madrid</a></p>
            <p><a href="/masajistas/por-region/espana/comunitat-valenciana/provincia-de-valencia/valencia/">Masaje en Valencia</a></p>
            <p><a href="/masajistas/por-region/espana/">Masaje en otras localidades</a></p>
            <div class="clear"></div>
        </div>
    </div>

    <div class="box">
        <h3>{% trans %}El portal del masaje{% endtrans %}</h3>
        <div class="box-content">
            <p>En www.emasaje.com encontrarás profesionales del masaje y otros profesionales del bienestar y la estética. Cada miembro de www.emasaje.com dispone de su propia página, en la que encontrarás toda la información que necesitas, servicios que ofrece, horarios, precios,...</p>
            <p>Para que encuentres lo que buscas te ofrecemos un buscador, en el que podrás encontrar los masajistas de tu ciudad, o del área que quieras, y visualizarlos en un mapa, para ver cual te queda más cerca.</p>
        </div>
    </div>

{% endblock %}

