{% extends "base_standard.html" %}

{% block main %}
    <div id="info-sample">
        <a href="/accounts/sample/" target="_blank"><div class="info-image"></div></a>
        <p class="info-image-legend"><a href="/accounts/sample/" target="_blank">{% trans %}Ver página de ejemplo{% endtrans %}</a></p>
    </div>
    <div id="info-main-description">
        <h3>{% trans %}Crea tu página web, con un diseño elegante y con toda tu información{% endtrans %}</h3>
        <p>
            <ul>
                <li>{% trans %}Para <b>masajistas</b>, centros de masaje y otros profesionales (fisioterapeutas, osteopatas,...){% endtrans %}</li>
                <li>{% trans %}Es <b>gratis</b>, no te costará nada.{% endtrans %}</li>
                <li>{% trans %}Es <b>fácil</b>, crearás tu página en unos minutos, sin necesidad de conocimientos técnicos.{% endtrans %}</li>
                <li>{% trans %}Tendrás presencia en Internet, conseguirás visitas y <b>nuevos clientes</b>.{% endtrans %}</li>
                <li>{% trans %}Tu página aparecerá en <b>Google</b>, <b>Yahoo!</b>, <b>Bing</b> y en el resto de buscadores.{% endtrans %}</li> 
                <li>{% trans %}Tendrás tu propia dirección <b>http://www.emasaje.com/tu-nombre/</b>.{% endtrans %}</li>
                <li>{% trans %}Podrás ver las <b>estadísticas de visitas</b> de tu página.{% endtrans %}</li>
                <li>{% trans %}Podrás modificar el contenido de la página siempre que quieras.{% endtrans %}</li>
                <li>{% trans %}Podrás recibir <b>promociones y descuentos</b> que conseguimos para nuestros masajistas.{% endtrans %}</li>
            </ul>
            <a id="info-join-link"href="/accounts/register/">{% trans %}Crea tu cuenta ahora{% endtrans %} &raquo;</a>
        </p>
    </div>
    <div class="clear"></div>
    <table id="info-boxes">
        <tr>
            <td>
                <div id="info-image-free" class="info-image"></div>
                <p class="info-image-legend">{% trans %}Es gratis{% endtrans %}</p>
            </td>
            <td>
                <div id="info-image-easy" class="info-image"></div>
                <p class="info-image-legend">{% trans %}Es fácil{% endtrans %}</p>
            </td>
            <td>
                <div id="info-image-success" class="info-image"></div>
                <p class="info-image-legend">{% trans %}Te llevará al éxito{% endtrans %}</p>
            </td>
        </tr>
    </table>
{% endblock %}

