{% extends 'base_admin.html' %}

{% block content %}
    <h2>Impersonate</h2>
    <div class="unit">
        <form action="." method="post" target="_blank">
            <input type="hidden" name="kind" value="email"/>
            <label>Email</label>
            <input type="text" name="email"/>
            <input type="submit" class="button" value="Impersonate"/>
        </form>
    </div>
    <div class="unit">
        <form action="." method="post" target="_blank">
            <input type="hidden" name="kind" value="slug"/>
            <label>Slug</label>
            <input type="text" name="slug"/>
            <input type="submit" class="button" value="Impersonate"/>
        </form>
    </div>
{% endblock %}
