{% extends 'base_admin.html' %}

{% block content %}
    <h2>Newsletter</h2>
    <form action="." method="post" target="_blank">
        <input type="hidden" name="kind" value="email"/>
        <label>Email</label>
        <textarea name="mailcontent"></textarea>
        <input type="submit" class="button" value="Impersonate"/>
    </form>
{% endblock %}
