{% extends 'base_admin.html' %}

{% block extrahead %}
    <style type="text/css">
        * {
            font-size: 12px;
        }
        body {
            margin: 10px;
        }
        span.label {
            color: #c0c0c0;
        }
    </style>
{% endblock %}

{% block content %}
    {% for page in pages %}
        <div>
            <h3>{{ page.page_title }}</h3>
            <p>{{ page.page_content|replace('\n', '<br/>') }}</p>
            <p><span class="label">Slug:</span> <b>{{ page.slug }}</b></p>
            <p><span class="label">Country:</span> {{ page.county_name }}</p>
            <p><span class="label">State:</span> {{ page.state_name }}</p>
            <p><span class="label">Province:</span> {{ page.province_name }}</p>
            <p><span class="label">City:</span> {{ page.city_name }}</p>
            <p><span class="label">Address:</span> {{ page.address_1 }} || {{ page.address_2 }}</p>
            <p><span class="label">Postal code:</span> {{ page.postal_code }}</p>
            <p><span class="label">Phone:</span> {{ page.phone_number_1 }} || {{ page.phone_number_2 }}</p>
            <p><span class="label">Website:</span> <a href="{{ page.website_address }}" target="_blank">{{ page.website_address }}</a></p>
            <p><span class="label">Schedule:</span> {{ page.schedule }}</p>
            <ul>
                {% for method in page.massage_method_names %}
                    <li>{{ method }}</li>
                {% endfor %}
            </ul>
             <br/>
            <form action="." method="post">
                <label for="sex">Offers sex</label><input type="checkbox" name="sex" id="sex"/>
                <br/>
                <input type="hidden" name="page" value="{{ page.key() }}"/>
                <input type="submit" name="review" value="spam"/>
                <input type="submit" name="review" value="block"/>
                <input type="submit" name="review" value="0"/>
                <input type="submit" name="review" value="1"/>
                <input type="submit" name="review" value="2"/>
                <input type="submit" name="review" value="3"/>
                <input type="submit" name="review" value="4"/>
                <input type="submit" name="review" value="5"/>
                <input type="submit" name="review" value="6"/>
                <input type="submit" name="review" value="7"/>
                <input type="submit" name="review" value="8"/>
                <input type="submit" name="review" value="9"/>
                <input type="submit" name="review" value="10"/>
                <input type="submit" name="review" value="impersonate"/>
            </form>
        </div>
    {% endfor %}
{% endblock %}

