{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% if name %}{% trans %}Masajistas en {{ name }}{% endtrans %}{% else %}{% trans %}Masajistas por región{% endtrans %}{% endif %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% if name %}{% trans %}Masajistas en {{ name }}{% endtrans %}{% else %}{% trans %}Masajistas por región{% endtrans %}{% endif %}</h3>
        <div class="box-content">
            <ul class="navigation">
                {% for region in regions %}
                    <li><a href="/masajistas/por-region/{{ region.slug }}/">{{ region.name }}</a></li>
                {% endfor %}
            </ul>
            {% if next_result %}
                <form method="get" action=".">
                    <input type="submit" class="input_submit" value="{% trans %}Más resultados{% endtrans %}"/>
                    <input type="hidden" name="next_result" value="{{ next_result }}"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

