{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {{ name }}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{{ name }}</h3>
        <div class="box-content">
            {% if pages %}
                {% for page in pages %}
                    {% include 'widgets/therapist_list.html' %}
                {% endfor %}
            {% else %}
                <p>{% trans %}No existe ningún masajista en esta categoría. ¿Eres masajista? <a href="/accounts/register/">Clica aquí</a> para registrarte y ser el primero en aparecer en este listado.{% endtrans %}</p>
            {% endif %}
            {% if next_result %}
                <form method="get" action=".">
                    <input type="submit" class="input_submit" value="{% trans %}Más resultados{% endtrans %}"/>
                    <input type="hidden" name="next_result" value="{{ next_result.rank }}"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

