{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Masajistas en {{ name }}{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Masajistas en {{ name }}{% endtrans %}</h3>
        <div class="box-content">
            {% if pages %}
                {% for page in pages %}
                    {% include 'widgets/therapist_list.html' %}
                {% endfor %}
            {% else %}
                <p>{% trans %}Encuentra todos los masajistas de {{ name }} y de otras zonas en <a href="/">www.emasaje.com</a>, el portal del masaje.{% endtrans %}</p>
                <p>{% trans %}Lo sentimos, pero todavía no se ha registrado ningún profesional del masaje en {{ name }}. Pero no te preocupes, porqué puedes encontrar masajistas cercanos a {{ name }} con nuestro <a href="/">buscador de profesionales del masaje</a>.{% endtrans %}</p>
                <p>{% trans %}Y su eres masajista... <a href="/accounts/register/">Clica aquí</a> para ser el primer masajista en {{ name }}, y ser encontrado por miles de usuarios.{% endtrans %}</p>
            {% endif %}
            {% if next_result %}
                <form method="get" action=".">
                    <input type="submit" class="input_submit" value="{% trans %}Más resultados{% endtrans %}"/>
                    <input type="hidden" name="next_result" value="{{ next_result.rank }}"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

