{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Técnicas de masaje{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Técnicas de masaje{% endtrans %}</h3>
        <div class="box-content">
            <ul class="navigation">
                {% for method in methods %}
                    <li><a href="{{ method.slug }}">{{ method.name }}</a></li>
                {% endfor %}
            </ul>
            {% if next_result %}
                <form method="get" action=".">
                    <input type="submit" class="input_submit" value="{% trans %}Más resultados{% endtrans %}"/>
                    <input type="hidden" name="next_result" value="{{ next_result.slug }}"/>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

