<div class="box">
    <h3>{% trans %}Soporte{% endtrans %}</h3>
    <div class="box-content">
        {# this form is fake, and it's used to make the submit button look as others in ie #}
        <form action="/dashboard/services/help-request" method="post">
            <p>{% trans %}Estamos aquí para ayudarte. Escribenos si tienes dudas, sugerencias, problemas...{% endtrans %}</p>
            <textarea id="help-request-message" class="support"></textarea>
            <p id="help-request-response" class="support-response"></p>
            <input id="help-request-submit" type="submit" class="input_submit" value="{% trans %}Enviar{% endtrans %}"/>
        </form>
        <script type="text/javascript">
            $("#help-request-submit").click(function() {
                if($("#help-request-message").val() != "") {
                    $.post("/dashboard/services/help-request/", {"message": $("#help-request-message").val()}, function(data) {
                        $("#help-request-response").html(data);
                        $("#help-request-response").show();
                    });
                    $("#help-request-message").val("");
                }
                return false;
            });
        </script>
    </div>
</div>

