{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Información de contacto{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Información de contacto{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    {{ form.phone_number_1 }}
                    <p class="help-text">{% trans %}El número de teléfono dónde quieres ser contactado{% endtrans %}</p>
                    {{ form.phone_number_2 }}
                    <p class="help-text">{% trans %}Un número de teléfono adicional, por si quieres dar un fijo y un móvil, tienes dos líneas...{% endtrans %}</p>
                    {{ form.website_address }}
                    <p class="help-text">{% trans %}En caso de que tengas otra página web, puedes introducir la dirección. Recuerda que las páginas web empiezan por http:// (o https://) que debes poner antes de la dirección{% endtrans %}</p>
                    <!--
                    {{ form.requires_appointment }}
                    <p class="help-text">{% trans %}Marca esta casilla si tus clientes necesitan solicitar cita con antelación{% endtrans %}</p>
                    -->
                    {% include 'widgets/dashboard_accept_cancel.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#
    <p>{% trans %}En este formulario puedes introducir la información mediante la cual te van a contactar tus clientes. Desde la página, siempre podrán contactarte mediante un formulario de contacto que reenviaremos a tu dirección de correo electrónico, pero también puedes especificar números de teléfono, o otra página web.{% endtrans %}</p>
#}

