{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Panel de Control{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Estado de tu cuenta{% endtrans %}</h3>
            <div class="box-content">
                {% if page.active %}
                    <p>{% trans %}Tu página se encuentra activa en:{% endtrans %}</p>
                    <p><a href="/{{ page.slug }}/" target="_blank">http://www.emasaje.com/{{ page.slug }}</a></p>
                {% else %}
                    <p>{% trans %}Debes introducir la siguiente información para completar tu página:{% endtrans %}</p>
                    <ul>
                        {% if not page.page_title %}
                            <li><a href="/dashboard/page-content/">{% trans %}Contenidos{% endtrans %}</a> &raquo; {% trans %}Título de la página{% endtrans %}</li>
                        {% endif %}
                        {% if not page.page_content %}
                            <li><a href="/dashboard/page-content/">{% trans %}Contenidos{% endtrans %}</a> &raquo; {% trans %}Contenido de la página{% endtrans %}</li>
                        {% endif %}
                        {% if page.page_theme == None %}
                            <li><a href="/dashboard/theme-gallery/">{% trans %}Apariencia{% endtrans %}</a></li>
                        {% endif %}
                        {% if page.page_image == None %}
                            <li><a href="/dashboard/image-gallery/">{% trans %}Imagen{% endtrans %}</a></li>
                        {% endif %}
                        {% if not page.massage_method_ids %}
                            <li><a href="/dashboard/massage-methods/">{% trans %}Técnicas de masaje{% endtrans %}</a></li>
                        {% endif %}
                        {% if not page.city_id %}
                            <li><a href="/dashboard/address/">{% trans %}Dirección{% endtrans %}</a> &raquo; {% trans %}Ciudad{% endtrans %}</li>
                        {% endif %}
                        {% if not page.postal_code %}
                            <li><a href="/dashboard/address/">{% trans %}Dirección{% endtrans %}</a> &raquo; {% trans %}Código postal{% endtrans %}</li>
                        {% endif %}
                        {% if not page.address_1 %}
                            <li><a href="/dashboard/address/">{% trans %}Dirección{% endtrans %}</a> &raquo; {% trans %}Dirección{% endtrans %}</li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Tu página{% endtrans %}</h3>
            <div class="box-content">
                <div class="option">
                    <a href="/dashboard/page-content/" id="page-content" class="icon"></a>
                    <a href="/dashboard/page-content/">{% trans %}Contenidos{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/theme-gallery/" id="theme-gallery" class="icon"></a>
                    <a href="/dashboard/theme-gallery/">{% trans %}Apariencia{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/image-gallery/" id="image-gallery" class="icon"></a>
                    <a href="/dashboard/image-gallery/">{% trans %}Imagen{% endtrans %}</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="box">
            <h3>{% trans %}Tus datos{% endtrans %}</h3>
            <div class="box-content">
                <div class="option">
                    <a href="/dashboard/massage-methods/" id="massage-methods" class="icon"></a>
                    <a href="/dashboard/massage-methods/">{% trans %}Técnicas de masaje{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/address/" id="address" class="icon"></a>
                    <a href="/dashboard/address/">{% trans %}Dirección{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/contact-info/" id="contact-info" class="icon"></a>
                    <a href="/dashboard/contact-info/">{% trans %}Datos de contacto{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/schedule/" id="schedule" class="icon"></a>
                    <a href="/dashboard/schedule/">{% trans %}Horario{% endtrans %}</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="box">
            <h3>{% trans %}Tus visitas{% endtrans %}</h3>
            <div class="box-content">
                <div class="option">
                    <a href="/dashboard/stats/by-date/" id="stats-date" class="icon"></a>
                    <a href="/dashboard/stats/by-date/">{% trans %}Visitas por dia{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/stats/by-source/" id="stats-source" class="icon"></a>
                    <a href="/dashboard/stats/by-source/">{% trans %}Visitas por página de origen{% endtrans %}</a>
                </div>
                <div class="option">
                    <a href="/dashboard/stats/by-region/" id="stats-region" class="icon"></a>
                    <a href="/dashboard/stats/by-region/">{% trans %}Visitas por región{% endtrans %}</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}

