{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Técnincas de masaje{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Técnicas de masaje{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action="." class="massage-methods">
                    {{ form.massage_methods }}
                    <div class="clear"></div>
                    {% include 'widgets/dashboard_accept_cancel.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#
    <p>{% trans %}En este formulario debes seleccionar las técnicas de masaje que ofreces. Es importante que solamente selecciones aquellas técnicas concretas en las que puedes ofrecer un buen servicio.{% endtrans %}</p>
    <p>{% trans %}En caso de duda te recomendamos que no selecciones la técnica.{% endtrans %}</p>
#}

