{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Horario{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Horario{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    {{ form.schedule }}
                    <p class="help-text">{% trans %}Breve explicación del horario en el que puedes atender a tus clientes{% endtrans %}</p>
                    {% include 'widgets/dashboard_accept_cancel.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#
    <p>{% trans %}En este formulario puedes introducir el horario en el cual puedes atender a tus clientes. Es imporante que indiques no solo el horario, sinó los días a la semana que atiendes.{% endtrans %}</p>
#}

