{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Apariencia{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Apariencia{% endtrans %}</h3>
            <div class="box-content">
                {% for item in items %}
                    <div class="gallery-item">
                        <div class="theme-color" style="background-color: {{ item.1 }};"></div>
                        <form method="post" action=".">
                            <input type="hidden" name="item" value="{{ item.0 }}"/>
                            <input type="submit" class="input_submit{% if item.0 == selected_item %} bold{% endif %}" value="{% trans %}Seleccionar{% endtrans %}"/>
                        </form>
                    </div>
                {% endfor %}
                <div class="clear">&nbsp;</div>
                <form method="get" action="/dashboard/">
                    <input type="submit" class="input_submit bold" value="Volver"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

