{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Contenidos{% endtrans %}{% endblock %}

{% block main %}
    <div id="right-col">
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Contenidos{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    {{ form.page_title }}
                    <p class="help-text">{% trans %}Encuentra una frase que te identifique y te diferencie del resto de masajistas{% endtrans %}</p>
                    {{ form.page_content }}
                    <p class="help-text">{% trans %}Aquí es dónde puedes contar toda aquella información que consideres importante. Cual es tu especialidad, tu filosofia. Cuenta a tus clientes porqué eres especial{% endtrans %}</p>
                    {% include 'widgets/dashboard_accept_cancel.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#
    <p>{% trans %}Éste es el principal formulario de tu cuenta. Aquí debes definir los principales datos de tu página.{% endtrans %}</p>
    <ul>
        <li><span class="field">{% trans %}Dirección de la página:{% endtrans%}</span> {% trans %}La dirección de tu página será http://www.emasaje.com/ seguido del valor de este campo. La dirección solo puede tener letras minúsculas del alfabeto inglés (sin vocales acentuadas, la eñe...), números guiones. Es importante que <b>no modifique este valor</b> una vez tenga su página funcionando, ya que sus clientes podrían no encontrar su página.{% endtrans %}</li>
        <li><span class="field">{% trans %}Título de la página:{% endtrans%}</span> {% trans %}Encuentra una frase que te identifique y te diferencie del resto de masajistas.{% endtrans %}</li>
        <li><span class="field">{% trans %}Contenido de la página:{% endtrans%}</span> {% trans %}Aquí es dónde puedes contar toda aquella información que consideres importante. Cual es tu especialidad, tu filosofia. Cuenta a tus clientes porqué eres especial.{% endtrans %}</li>
        <li><span class="field">{% trans %}Tema:{% endtrans%}</span> {% trans %}Elige el aspecto que más te guste para tu página.{% endtrans %}</li>
    </ul>
#}

