{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Dirección{% endtrans %}{% endblock %}

{% block extrahead %}
    {{ super() }}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript">
        var map;
        var marker;

        function map_init() {
            var latitude = $('#id_latitude').val();
            var longitude = $('#id_longitude').val();
            var position = null;
            var opts = {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                mapTypeControl: false,
                streetViewControl: false,
            }
            if(latitude != '' && longitude != '') {
                position = new google.maps.LatLng(latitude, longitude);
            }
            map = new google.maps.Map(document.getElementById('map'), opts);
            marker = new google.maps.Marker({});
            set_map(position);
        }
        function get_address() {
            var address;
            if($('#id_city option:selected').val() != '' && $('#id_address_1').val() != '') {
                address = $('#id_address_1').val() + ', ';
                address = address + $('#id_city option:selected').text() + ', ';
                address = address + $('#id_province option:selected').text() + ', ';
                address = address + $('#id_country option:selected').text() + '';
                return address;
            } else {
                return null;
            }
        }
        function set_map(position) {
            spain = {
                center: new google.maps.LatLng(40.463667, -3.74922),
                zoom: 4,
            };
            $('#map-error').html('');

            if(position != null) {
                map.setCenter(position);
                map.setZoom(15);
                marker.setMap(map);
                marker.setPosition(position);
                marker.setDraggable(true);
                $("#id_latitude").val(position.lat());
                $("#id_longitude").val(position.lng());
                google.maps.event.addListener(marker, "dragend", function(event) {
                    // FIXME selectors are null when this is called
                    var new_position = marker.getPosition();
                    $("#id_latitude").val(new_position.lat());
                    $("#id_longitude").val(new_position.lng());
                });
            } else {
                marker.setMap(null);
                map.setOptions(spain);
            }
        }
        function geocode() {
            var address = get_address();
            if(address != null) {
                var geocoder = new google.maps.Geocoder();
                geocoder.geocode({address: address}, function(results, status) {
                    if(status == google.maps.GeocoderStatus.OK) {
                        set_map(results[0].geometry.location);
                    } else {
                        $('#map-error').html('{% trans %}La dirección introducida no puede encontrarse. Intente especificar la dirección de otra manera.{% endtrans %}');
                    }
                });
            } else {
                set_map(null);
            }
        }

        function get_regions(url, params, dst) {
            $.get("/dashboard/services/" + url + "/", params, function(data) {
                $(dst).html(data);
            });
            $(dst).html('<option>{% trans %}Cargando datos...{% endtrans %}</option>');
        }
        $(document).ready(function() {
            $("#id_country").change(function() {
                var params = {};
                params["country_id"] = $("#id_country").val();
                get_regions('get-states', params, '#id_state');
                $("#id_province").html('<option value=""></option>');
                $("#id_city").html('<option value=""></option>');
            });
            $("#id_state").change(function() {
                var params = {};
                params["country_id"] = $("#id_country").val();
                params["state_id"] = $("#id_state").val();
                get_regions('get-provinces', params, '#id_province');
                $("#id_city").html('<option value=""></option>');
            });
            $("#id_province").change(function() {
                var params = {};
                params["country_id"] = $("#id_country").val();
                params["state_id"] = $("#id_state").val();
                params["province_id"] = $("#id_province").val();
                get_regions('get-cities', params, '#id_city');
            });

            $('#id_city').change(function() {
                geocode();
            });
            $('#id_address_1').focusout(function() {
                geocode();
            });
            map_init();
        });
    </script>
{% endblock %}

{% block main %}
    <div id="right-col">
        <div class="box">
            <h3>{% trans %}Mapa{% endtrans %}</h3>
            <div class="box-content">
                <p>{% trans %}Cuando hayas introducido la dirección, comprueba que el marcador está en la posición correcta. Puedes arrastrarlo si necesitas cambiarla.{% endtrans %}</p>
                <div id="map" style="height: 200px; border: 1px solid #6793cb;"></div>
                <p id="map-error" class="error"></p>
            </div>
        </div>
        {% include 'widgets/dashboard_support.html' %}
    </div>
    <div id="left-col">
        <div class="box">
            <h3>{% trans %}Dirección{% endtrans %}</h3>
            <div class="box-content">
                <form method="post" action=".">
                    <div style="display: none;">
                        <!-- hidding country while not launched internationally -->
                        {{ form.country }}
                        <p class="help-text">{% trans %}País dónde realizas los masajes{% endtrans %}</p>
                    </div>
                    {{ form.state }}
                    <p class="help-text">{% trans %}Comunidad autónoma dónde realizas los masajes{% endtrans %}</p>
                    {{ form.province }}
                    <p class="help-text">{% trans %}Provincia dónde realizas los masajes{% endtrans %}</p>
                    {{ form.city }}
                    <p class="help-text">{% trans %}Ciudad o municipio dónde realizas los masajes{% endtrans %}</p>
                    {{ form.postal_code }}
                    <p class="help-text">{% trans %}Código postal de la dirección dónde realizas los masajes{% endtrans %}</p>
                    {{ form.address_1 }}
                    <p class="help-text">{% trans %}Parte de la dirección necesaria para situar el local dónde haces los masajes en un mapa. Esto incluye el tipo de via (calle, plaza, avenida...), el nombre de la via, el número, y cualquier otra información como la urbanización, poligiono industrial...{% endtrans %}</p>
                    {{ form.address_2 }}
                    <p class="help-text">{% trans %}Resto de la dirección, relativa a la ubicación de tu local dentro de la finca. Esto incluye piso, puerta, escalera, bloque...{% endtrans %}</p>
                    {{ form.show_address_in_page }}
                    <p class="help-text">{% trans %}Puedes escojer si quieres que se muestre la dirección en la página{% endtrans %}</p>
                    {{ form.latitude }}
                    {{ form.longitude }}
                    {% include 'widgets/dashboard_accept_cancel.html' %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{#
    <p>{% trans %}En este formulario está la información relativa a la dirección de tu <b>local de trabajo</b>. Es importante informar a tus posibles clientes de la ubicación, ya que la mayoría buscaran por proximidad a su domicilio o lugar de trabajo.{% endtrans %}
    <p>{% trans %}Aunque por motivos de privacidad, no quieras mostrar esta información en la página, te recomendamos que la cumplimentes de todos modos, ya que así podremos mostrar tu página a usuarios que busquen masajista en tu zona. Al final del formulario tienes un campo para indicar si quieres mostrar la información o no.{% endtrans %}</p>
    <ul>
        <li><span class="field">{% trans %}Nombre:{% endtrans%}</span> {% trans %}Tu nombre y apellidos{% endtrans %}</li>
#}

