{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Página no encontrada{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Página no encontrada{% endtrans %}</h3>
        <div class="box-content">
            <p>{% trans %}Lo sentimos, pero la página que estás buscando ya no se encuentra disponible. Puede que haya cambiado de dirección, o que haya sido eliminada.{% endtrans %}</p>
            <p>{% trans %}Si estás buscando un masajista, o quieres crear tu propia página, puedes ir a la <a href="/">página principal</a>, dónde encontrarás toda la información que necesitas.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}

