<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html>
    <head>
        <title>{% block title %}www.emasaje.com{% endblock %}</title>
        {% block extrahead %}
            <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
            <script src="https://www.google.com/jsapi?key={{ settings.JSAPI_KEY }}" type="text/javascript"></script>
            <script type="text/javascript">
                google.load("jquery", "1.4.4");
            </script>
        {% endblock %}
        
       <script type="text/javascript">        
           function setCookie (name, value, exdays, path, domain, secure){
               var expiredate=new Date();
               expiredate.setDate(expiredate.getDate() + exdays);
               document.cookie = name + "=" + escape(value) +
               ((exdays) ? "; expires=" + expiredate.toUTCString() : "") +
               ((path) ? "; path=" + path : "") +
               ((domain) ? "; domain=" + domain : "") +
               ((secure) ? "; secure" : "");
           }
           function getCookie (name) {
               var cookie = " " + document.cookie;
               var search = " " + name + "=";
               var setStr = null;
               var offset = 0;
               var end = 0;
               if (cookie.length > 0) {
                   offset = cookie.indexOf(search);
                   if (offset != -1) {
                       offset += search.length;
                       end = cookie.indexOf(";", offset);
                       if (end == -1) {
                           end = cookie.length;
                       }
                   setStr = unescape(cookie.substring(offset, end));
                   }
               }
               if (setStr == 'false') {
                   setStr = false;
               } 
               if (setStr == 'true') {
                   setStr = true;
               }
               if (setStr == 'null') {
                   setStr = null;
               }
           return(setStr);
           }
           function hidePopup() {
               setCookie('alert_state', false, "24", "/"); 
               document.getElementById('cookies-warning').style.display = 'none';
           }
           function showPopup() {
               setCookie('alert_state', null);
               document.getElementById('cookies-warning').style.display = 'block';
           }
           function checkPopup() {
               if (getCookie('alert_state') == null) { // if popup was not closed
                  document.getElementById('cookies-warning').style.display = 'block';
               }   
           }
        </script>
     
    </head>
    <body onload="checkPopup();">
        {% block content %}{% endblock %}
        
        <div id="cookies-warning">    
            <p>www.emasaje.com utiliza cookies propias y de terceros para mejorar nuestros servicios y su experiencia de navegación. Debe aceptar su instalación para continuar usando emasaje. Haga click <a href="/legal/privacy-policy#cookies">aquí</a> para más información. <a href="#" onclick="hidePopup(); return false;">Aceptar y cerrar</a></p>
        </div>
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-1635939-18']);
            _gaq.push(['_setDomainName', 'none']);
            _gaq.push(['_setAllowLinker', true]);
            {% block gapage %}
                _gaq.push(['_trackPageview']);
            {% endblock %}

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>

