{% extends 'base.html' %}

{% block content %}
    <div id="header">
        <div id="header-content">
            <a href="/">
                <img id="logo" alt="www.emasaje.com" src="/static/img/logo.png"/>
            </a>
            {% if account %}
                <form action="/accounts/logout/" method="post">
                    <p id="login">{% trans name=account.name%}¡Hola {{ name }}!{% endtrans %} No olvides cerrar la sesión al terminar: <input type="submit" class="input_submit" value="{% trans %}Cerrar sesión{% endtrans %}"/></p>
                </form>
            {% else %}
                <p id="login"><a href="/dashboard/">{% trans %}Entra a tu cuenta{% endtrans %}</a></p>
            {% endif %}
        </div>
    </div>
    <div id="container">
        <div id="main">
            {% block main %}{% endblock %}
        </div>
        <div class="clear">&nbsp;</div>
        <p id="footer">
            &copy; <a href="http://www.emasaje.com">www.emasaje.com</a> |
            <a href="/legal/privacy-policy/">{% trans %}Política de privacidad{% endtrans %}</a> |
            <a href="/legal/terms-and-conditions/">{% trans %}Condiciones de uso{% endtrans %}</a>
        </p>
    </div>
{% endblock %}
