{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {% trans %}Información{% endtrans %}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{% trans %}Información{% endtrans %}</h3>
        <div class="box-content">
            <p>{{ message }}</p>
        </div>
    </div>
{% endblock %}

{% block gapage %}
    {% if ga == "account-created" %}
        _gaq.push(['_trackPageview', '/ga/virtual/account-created/']);
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

