{% extends 'base_standard.html' %}

{% block title %}{{ super() }} &raquo; {{ report_name }}{% endblock %}

{% block main %}
    <div class="box">
        <h3>{{ report_name }}</h3>
        <div class="box-content">
            <p>{% trans %}A continuación está la información de visitas de tu página de los últimos {{ period_days }} días.{% endtrans %}</p>
            {% if stats %}
                <table id="visits">
                    <tr>
                        {% for dimension in dimensions %}
                            <th class="dimension">{{ dimension }}</th>
                        {% endfor %}
                        {% for metric in metrics %}
                            <th class="metric">{{ metric }}</th>
                        {% endfor %}
                    </tr>
                    {% for stat in stats %}
                        <tr class="{{ loop.cycle("odd", "even") }}">
                            {% for dimension in stat.dimension %}
                                {% if report == "by-date" %}
                                    <td class="dimension">{{ dimension.value[6:8] }}/{{ dimension.value[4:6] }}/{{ dimension.value[0:4] }}</td>
                                {% elif report == "by-source" and dimension.value == "(direct)" %}
                                    <td class="dimension">{% trans %}(Visita directa){% endtrans %}</td>
                                {% else %}
                                    <td class="dimension">{{ dimension.value }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for metric in stat.metric %}
                                <td class="metric">{{ metric.value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>{% trans %}No hay información de visitas.{% endtrans %}</p>
            {% endif %}
            <a href="/dashboard/" class="input_submit">{% trans %}Volver{% endtrans %}</a>
        </div>
    </div>
{% endblock %}

